<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Expenses</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>

    <form th:action = '@{expenses}'>
        <select th:name="Categories">
            <option>Category</option>

            <th:block th:each="category : ${categoriesList}">
                <option type="text" name="category" th:text="${category}"></option>
            </th:block>

        </select>

        <br><br><label>GTQ:</label>
        <input type="text" th:name="amount" />

        <br><br><input type="submit" value="Add expense"/>
    </form>

    <form action = '/index'>
        <input type='submit' value = 'Add more categories' />
    </form>

    <br><br><h2>EXPENSES:</h2>
  <!--  <div th:each="amount : ${amounts}">
        <div th:each="amountEntry : ${amount}">
            <span th:text="${amountEntry.key}"></span> =
            <span th:text="${amountEntry.value}"></span>
        </div>
    </div>-->

    <!--<div th:each="object : ${objectList}">
        <p th:text="${object.Name}"></p> =
        <p th:text="${object.SpentMoney}"></p>
    </div>-->


</body>
</html>