<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Expenses</title>

    <!--  JQUERY  -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!--  CSS  -->
    <link href="../static/css/ExpensesStyle.css" th:href="@{/css/ExpensesStyle.css}" rel="stylesheet" />
</head>

<body>

    <div class="div-input">
        <form th:action = '@{expenses}'>
            <select th:name="Categories" required>
                <option>CATEGORY</option>

                <th:block th:each="category : ${categoriesList}">
                    <option type="text" name="category" th:text="${category}"></option>
                </th:block>

            </select>

            <br><br><label>GTQ:</label>
            <input class="input-money" autocomplete="off" type="text" th:name="amount" />

            <br><br><input class="button-add" type="submit" value="+"/>
        </form>
    </div>

    <!--<form action = '/index'>
        <input type='submit' value = 'Add more categories' />
    </form>-->

</body>
</html>