<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Expenses</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>

    <form th:action = '@{expenses}'>
        <select th:name="Categories" required>
            <option>Category</option>

            <th:block th:each="category : ${categoriesList}">
                <option type="text" name="category" th:text="${category}"></option>
            </th:block>

        </select>

        <br><br><label>GTQ:</label>
        <input type="text" th:name="amount" />

        <br><br><input type="submit" value="Add expense"/>
    </form>

    <form action = '/index'>
        <input type='submit' value = 'Add more categories' />
    </form>


    <br><br><h2>EXPENSES:</h2>

    <th:block th:each="expense : ${expensesList}">
        <li type="text" name="expense" th:text="${expense}"></li>
    </th:block>

    <br>---Total---<br>

    <div th:each="object : ${objectList}">
        <span th:text="${object.Name}"></span> =
        <span th:text="${object.SpentMoney}"></span>
    </div>

</body>
</html>