<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Income</title>

    <!--  CSS  -->
    <link href="../static/css/Style.css" th:href="@{/css/Style.css}" rel="stylesheet" />

</head>

<body class="body-categories">
    <h2>WHAT IS YOUR INCOME AND SAVINGS GOAL?</h2>
    <div class="box" style="overflow: hidden">
        <form action = '/getincome'>
            <div class="input-container">
                <input autocomplete="off" type="text" th:name="IncomeAmount" /><br>
                <label>Amount</label>
            </div>

            <div class="input-container">
                <input autocomplete="off" type="text" th:name="SavingGoal" /><br>
                <label>Saving Goal</label>
            </div>

            <button type="submit" value="Done" class="submit-button" style="position: relative; top: 20px">Done</button>
        </form>
    </div>

</body>
</html>