<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Show Expenses</title>

    <!--  JQUERY  -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!--  CSS  -->
    <link href="../static/css/ExpensesStyle.css" th:href="@{/css/ExpensesStyle.css}" rel="stylesheet" />

    <!--  CHANGES  -->
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
</head>

<body class="showEx-body">

    <!--    NAV BAR      -->
    <div class="menu">
        <div class="container">
            <div class="toggle"></div>
        </div>
        <span class="hidden"><a th:href="@{GetExpenses}">Add Expense</a></span>
        <span class="hidden"><a th:href="@{GetCategories}">Add Category</a></span>
        <span class="hidden"><a href="#">Info</a></span>
        <span class="hidden"><a href="#">Contact</a></span>
    </div>

    <script>
        $('.toggle').on('click', function() {
            $('.menu').toggleClass('expanded');
            $('span').toggleClass('hidden');
            $('.container , .toggle').toggleClass('close');
        });
    </script>


    <!--    SHOW EXPENSES      -->
    <h2 class="expenses-h2">EXPENSES</h2>

    <!--    INCOME DIV     -->
    <div class="div-income">
        <h2 class="h2-income">INCOME</h2>
        <span th:text="${TotalIncome}" class="span-tIncome"></span>


        <span th:text="${balance}" class="span-balance"></span>
        <h2 class="h2-tBalance">CURRENT BALANCE</h2>

    </div>

    <!--    EXPENSES DIV     -->
    <div class="div-show">
        <h2 class="h2-individual">INDIVIDUALS</h2>
        <th:block th:each="expense : ${expensesList}">
            <div class="div-listExpenses">
                <li type="text" name="expense" th:text="${expense}"></li>
            </div>
        </th:block>

        <h2 class="h2-total">TOTAL</h2>
        <div class="div-totalList">
            <table>
                <tbody>
                <tr th:each="object : ${objectList}">
                    <td>•</td>
                    <td th:text="${object.Name}"></td>
                    <td>    </td>
                    <td>    </td>
                    <td> Q</td>
                    <td th:text="${object.SpentMoney}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>